body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #008040; /* Color verde */
    color: #ffffff; /* Color blanco */
    text-align: center;
    padding: 20px;
}

.header-container {
    max-width: 800px;
    margin: 0 auto;
}

main {
    padding: 20px;
}

.data-container {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ddd;
    padding: 20px;
}

h2 {
    color: #008040; /* Color verde */
}


